@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: #000;
  font-family: Inter, Arial, sans-serif;
}
.doto {
  font-family: "Doto", sans-serif;
  font-weight: 900;
  font-variation-settings: "ROND" 100;
}